{% extends "base.html" %} {% block title %} Chat{% endblock %} {% block head %}
{{ super() }}
<style type="text/css">
  .important {
    color: #336699;
  }
</style>
{% endblock %} {% block content %}
<h1>Index</h1>
<p class="important">Welcome to my awesome homepage.</p>
<div id="chat-window" class="h-2/3 w-full bg-green-100"></div>
<form id="chat-form">
  <input
    type="text"
    name="chat-input"
    id="chat-input"
    class="w-full bg-gray-100"
  />
  <button type="submit">Send</button>
</form>

<script>
  const form = document.querySelector("form");
  const chatWindow = document.querySelector("#chat-window");

  // submit handler
  form.addEventListener("submit", (e) => {
    e.preventDefault();
    console.log(e);
    const formData = new FormData(form);
    sendMessage(formData.get("chat-input"));
  });

  // Create WebSocket connection.
  const socket = new WebSocket("ws://192.168.0.240:8080");

  // Connection opened
  socket.addEventListener("open", (event) => {
    socket.send(
      JSON.stringify({
        messageType: "IdMessage",
        senderId: "d290f1ee-6c54-4b01-90e6-d701748f0851",
        timestamp: "2025-04-19T13:00:00Z",
      }),
    );
  });

  function sendMessage(messageText) {
    const msg = JSON.stringify({
      messageType: "ChatMessage",
      payload: {
        targetType: "user",
        targetId: "550e8400-e29b-41d4-a716-446655440000",
        content: messageText,
      },
      meta: {
        messageId: "4a9f3e7b-8c2d-4d6f-b654-abcdef654321",
        senderId: "d290f1ee-6c54-4b01-90e6-d701748f0851",
        timestamp: "2025-04-19T13:00:05Z",
      },
    });

    socket.send(msg);
    console.log("message send", msg);
  }

  socket.addEventListener("message", (event) => {
    console.log(event);
    const msg = JSON.parse(event.data).payload.content;
    const msgDiv = document.createElement("div");

    msgDiv.className = "msg";
    msgDiv.textContent = msg;
    chatWindow.append(msgDiv);
  });
</script>
{% endblock %}L
