<!doctype html>
<html lang="en" class="h-full">
  <head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" />
    <!--<link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-DQvkBjpPgn7RC31MCQoOeC9TI2kdqa4+BSgNMNj8v77fdC77Kj5zpWFTJaaAoMbC"
      crossorigin="anonymous"
    />
    -->
    <title>{% block title %}{% endblock %} - Flaskr</title>
    {% endblock %}
  </head>
  <body class="min-h-screen h-full flex flex-col justify-between mx-auto">
    <!-- NAVBAR -->
    <nav
      class="container mx-auto sticky top-0 bg-gray-100 container m-10 p-3 rounded-xl grid grid-cols-5"
    >
      <div class="col-span-1 pl-6 my-auto">My App</div>
      <div class="col-span-3 flex justify-center gap-x-[4rem] my-auto">
        <a href="" class="hover:underline">Irgendwas</a>
        <a href="" class="hover:underline">Irgendwas anderes</a>
        <a href="" class="hover:underline">Noch was</a>
      </div>
      <div class="col-span-1 flex justify-around my-auto">
        {% if g.user%}
        <div class="my-auto">
          {{ g.user['name'].capitalize() or g.user['email'] }}
        </div>
        <a
          class="p-2 px-3 rounded-md bg-gray-400"
          href="{{ url_for('auth.logout') }}"
          >Log out</a
        >
        {% else %}
        <a href="{{ url_for('auth.login')}}">Log in</a>
        <a href="{{ url_for('auth.register')}}">Register</a>
        {% endif %}
      </div>
    </nav>

    <!-- CONTENT -->
    <div id="content" class="container mx-auto">
      {% block content %}{% endblock %}
    </div>

    <!-- FOOTER -->
    <div id="footer">
      {% block footer %}
      <footer
        class="bg-gray-100 w-full p-4 border-t border-gray-200 md:flex md:items-center md:justify-between md:p-6"
      >
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
          >© 2023 <a href="" class="hover:underline">Something™</a>. All
          Rights Reserved.
        </span>
        <ul
          class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
        >
          <li>
            <a href="#" class="hover:underline me-4 md:me-6">About</a>
          </li>
          <li>
            <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
          </li>
          <li>
            <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
          </li>
          <li>
            <a href="#" class="hover:underline">Contact</a>
          </li>
        </ul>
      </footer>
      {%endblock%}
    </div>
    <!-- Messeswith tailwind stuff
        <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YUe2LzesAfftltw+PEaao2tjU/QATaW/rOitAq67e0CT0Zi2VVRL0oC4+gAaeBKu"
      crossorigin="anonymous"
      ></script>
      -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </body>
</html>
