<!doctype html>

<html lang="en" class="h-full text-gray-700 bg-gray-50 transition-all">
  <head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock %} - Flaskr</title>
    {% endblock %}
  </head>

  <body class="min-h-screen h-full">
    <div class="flex h-full">
      <!-- SIDEBAR -->
      <aside
        class="w-2xs bg-gray-900 text-gray-100 shadow-xl h-full flex flex-col"
      >
        <!-- Logo/App Name -->
        <h1 class="text-2xl p-8 font-bold">Team Chat</h1>

        <!-- Navigation Links -->
        <nav class="flex-1 p-4 border-t-1">
          <div class="space-y-3">
            <a
              href="/conversations"
              data-path="/chat"
              class="px-4 py-2 hover:bg-blue-700 rounded-md flex"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-message-circle-icon lucide-message-circle mr-2"
              >
                <path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
              </svg>
              <div>Chats</div>
            </a>
            {% if g.user["role"] == "admin"%}
            <a
              href="/users"
              class="flex px-4 py-2 hover:bg-blue-700 rounded-md"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-users-icon lucide-users mr-2"
              >
                <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
                <path d="M16 3.128a4 4 0 0 1 0 7.744" />
                <path d="M22 21v-2a4 4 0 0 0-3-3.87" />
                <circle cx="9" cy="7" r="4" />
              </svg>

              <div>Users</div>
            </a>
            <a
              href="/groups"
              class="flex px-4 py-2 hover:bg-blue-700 rounded-md"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-send-to-back-icon lucide-send-to-back mr-2"
              >
                <rect x="14" y="14" width="8" height="8" rx="2" />
                <rect x="2" y="2" width="8" height="8" rx="2" />
                <path d="M7 14v1a2 2 0 0 0 2 2h1" />
                <path d="M14 7h1a2 2 0 0 1 2 2v1" />
              </svg>
              <div>Groups</div>
            </a>
            {%endif%}
          </div>
        </nav>

        <!-- User Section -->
        <div class="p-4 border-t">
          <div class="bg-gray-50 rounded-md p-4">
            {% if g.user %}
            <div class="flex p-2 px-4 bg-white shadow-md mb-4 rounded-md">
              <div class="mr-4">
                {% if g.user["image"] %}
                <img
                  src="{{ g.user['image'] }}"
                  alt="{{ g.user['username'] }}"
                  class="w-12 h-12 rounded-full object-cover"
                />
                {% else %}
                <div
                  class="p-3 rounded-full flex items-center justify-center bg-gray-300 text-gray-700"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-user-icon lucide-user"
                  >
                    <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2" />
                    <circle cx="12" cy="7" r="4" />
                  </svg>
                </div>
                {% endif %}
              </div>
              <div class="font-semibold text-gray-700 mt-2">
                {{ g.user['username'] or g.user['email'] }}
              </div>
            </div>
            <a
              class="block w-full text-center p-2 rounded-md bg-blue-700 text-white hover:bg-red-500"
              href="{{ url_for('auth.logout') }}"
              >Log out</a
            >
            {% else %}
            <div class="space-y-2">
              <a
                class="block w-full text-center p-2 rounded-md border hover:bg-gray-50"
                href="{{ url_for('auth.login')}}"
                >Log in</a
              >
              <a
                class="block w-full text-center p-2 rounded-md bg-gray-400 text-white hover:bg-gray-500"
                href="{{ url_for('auth.register')}}"
                >Register</a
              >
            </div>
            {% endif %}
          </div>
        </div>
      </aside>
      <!-- CONTENT -->
      <main class="flex-1">
        <!-- Message Popup -->
        <div id="messagePopup" class="fixed top-4 right-4 z-50 space-y-2">
          {% with messages = get_flashed_messages(with_categories=true) %} {% if
          messages %} {% for category, message in messages %}
          <div
            id="message-alert"
            class="bg-white border-l-4 p-4 rounded shadow-lg max-w-sm {% if category == 'success' %}border-emerald-500 text-emerald-700{% endif %} {% if category == 'error' %}border-red-500 text-red-500{% endif %} {% if category == 'warning' %}border-amber-500 text-amber-500{% endif %} {% if category == 'info' %}border-cyan-500 text-cyan-500{% endif %}"
          >
            <div class="flex justify-between items-center">
              <span class="text-md font-semibold">{{ message }}</span>
              <button
                class="ml-4 text-gray-400 hover:text-gray-600"
                onclick="this.parentElement.parentElement.remove()"
              >
                ×
              </button>
            </div>
          </div>
          {% endfor %} {% endif %} {% endwith %}
        </div>

        <div id="content" class="container mx-auto h-full">
          {% block content %}{% endblock %}
        </div>
      </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script>
      // Global User Object
      const user = {
        id: "{{g.user['id']}}",
        name: "{{g.user['name']}}",
        email: "{{g.user['email']}}",
      };
      console.log(user);

      //  remove msg after timeout
      document.addEventListener("DOMContentLoaded", function () {
        const alerts = document.querySelectorAll("#message-alert");
        alerts.forEach((alert) => {
          setTimeout(() => {
            alert.remove();
          }, 4000);
        });
      });

      function setActiveTabFromURL() {
        const currentPath = "/" + window.location.pathname.split("/")[1];
        console.log(currentPath);

        document.querySelectorAll("nav a").forEach((tab) => {
          tab.classList.remove("bg-blue-700");
        });

        const activeTab =
          document.querySelector(`[href="${currentPath}"]`) ||
          document.querySelector(`[data-path="${currentPath}"]`);
        if (activeTab) {
          activeTab.classList.add("bg-blue-700");
        }
      }

      window.addEventListener("load", setActiveTabFromURL);
    </script>
  </body>
</html>
